absl-py
acres
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alembic
altair
amazon-textract-caller
amazon-textract-response-parser
amazon-textract-textractor
annotated-types
anthropic
anyio
appdirs
asgiref
attrs
auth0-python
backoff
bcrypt
beautifulsoup4
blinker
blis
boto3
botocore
build
CacheControl
cachetools
catalogue
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
ci-info
cleo
click
cloudpathlib
cohere
coloredlogs
confection
configobj
configparser
contourpy
crashtest
crewai
cryptography
cycler
cymem
dataclasses-json
ddqpro @ git+https://github.com/mrspiggot/WarmsleyWalker.git@63d5440bd0daa101c968dccd6dd5983c5b165bf5
defusedxml
Deprecated
distlib
distro
docstring_parser
dulwich
durationpy
editdistance
embedchain
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
etelemetry
eval_type_backport
fastapi
fastavro
fastjsonschema
filelock
filetype
flatbuffers
fonttools
fredapi
frontend
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
google_search_results
googleapis-common-protos
gptcache
grpc-google-iam-v1
grpcio
grpcio-status
grpcio-tools
h11
h2
hpack
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
iniconfig
installer
instructor
isodate
itsdangerous
jaraco.classes
jax
jaxlib
Jinja2
jiter
jmespath
joblib
json_repair
jsonpatch
jsonpath-python
jsonpointer
jsonref
jsonschema
jsonschema-specifications
keyring
kiwisolver
kubernetes
langchain
langchain-anthropic
langchain-chroma
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-ollama
langchain-openai
langchain-text-splitters
langchain-unstructured
langcodes
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
language_data
litellm
looseversion
lxml
Mako
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mediapipe
mem0ai
ml_dtypes
mmh3
monotonic
more-itertools
mpld3
mpmath
msgpack
multidict
murmurhash
mypy-extensions
narwhals
nest-asyncio
networkx
nibabel
nipype
numpy
oauthlib
ollama
onnxruntime
openai
opencv-contrib-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt_einsum
orjson
overrides
packaging
pandas
parameterized
pathlib
pdf2image
pdfminer.six
pdfplumber
pexpect
pillow
pkginfo
platformdirs
pluggy
poetry
poetry-core
poetry-plugin-export
portalocker
posthog
preshed
propcache
proto-plus
protobuf
prov
ptyprocess
pulsar-client
puremagic
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydot
Pygments
PyJWT
PyMuPDF
pymupdf4llm
pyparsing
pypdf
pypdfium2
PyPika
pyproject_hooks
pysbd
pytesseract
pytest
python-dateutil
python-dotenv
pytz
pyxnat
PyYAML
qdrant-client
rapidfuzz
rdflib
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
s3transfer
schema
scikit-learn
scipy
seaborn
sentencepiece
setuptools
shapely
shellingham
simplejson
six
smart-open
smmap
sniffio
sounddevice
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
streamlit
sympy
tabulate
tavily-python
tenacity
thinc
threadpoolctl
tiktoken
tokenizers
toml
tomlkit
tornado
tqdm
traits
trove-classifiers
typer
types-requests
typing-inspect
typing_extensions
tzdata
unstructured-client
uritemplate
urllib3
uvicorn
uvloop
virtualenv
wasabi
watchdog
watchfiles
weasel
websocket-client
websockets
wrapt
xattr
XlsxWriter
yarl
zipp